### Identify the AIRB Banks in the Transparency Exercise

**Transparency Report is complex and contains many dimensions. Ensure that the filtering matches your goals.**

**The calculations may contain errors or misinterpretations of the EBA Transparency datasets.**


## Introduction

This notebook explores the datasets provided by the European Banking Authority (EBA) under their EU-wide Transparency Exercise, accessible [here](https://www.eba.europa.eu/risk-analysis-and-data/eu-wide-transparency-exercise). These datasets offer a comprehensive view of the banking sector's assets and risks, which is invaluable for financial analysis and regulatory assessment.

### Nations.
- **Ensure Data Integrity**: Although these datasets are generally user-friendly, they require additional checks to validate data integrity and reliability. You should compare a sample of your intermediary results with the results presented by the EBA's interactive tool, specifically the visualizations found [here](https://tools.eba.europa.eu/interactive-tools/2023/powerbi/837203/tr23_visualisation_page5.html), to confirm consistency and understand any discrepancies.
- **Download the credit risk datasets from here**: https://www.eba.europa.eu/assets/TE2023/Full_database/837203/tr_cre.csv

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

# Settings
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

pd.options.display.float_format = '{:,.2f}'.format

#### A. Create base table

In [2]:
# Import mappning tables
exposures = pd.read_excel('kala_eba_tr.xlsx', sheet_name='Exposures')
portfolio = pd.read_excel('kala_eba_tr.xlsx', sheet_name='Portfolio')
country = pd.read_excel('kala_eba_tr.xlsx', sheet_name='Country')
status = pd.read_excel('kala_eba_tr.xlsx', sheet_name='Status')
perf_status = pd.read_excel('kala_eba_tr.xlsx', sheet_name='Perf_Status')
institutions = pd.read_excel('kala_eba_tr.xlsx', sheet_name='List of institutions')

# import core dataset
df = pd.read_csv('tr_cre.csv', low_memory=False)

In [3]:
# Create final dataset
result = pd.merge(df, exposures, on='Exposure', how='left')
result = pd.merge(result, portfolio, on='Portfolio', how='left')
result = pd.merge(result, country, on='Country', how='left')
result = pd.merge(result, status, on='Status', how='left')
result = pd.merge(result, perf_status, on='Perf_Status', how='left')
result = pd.merge(result, institutions, on='LEI_Code', how='left')

result.head(2)

,LEI_Code,NSA,Period,Item,Label,Portfolio,Country,Country_rank,Exposure,Status,Perf_Status,NACE_codes,Amount,Footnote,Row,Column,Sheet,exposure_label,portfolio_label,country_label,ISO_code,status_label,perf_status_label,institution_country,Desc_country,Name,Finrep,Fin_year_end
0,0W2PZJM8XOY22M4GG883,DE,202209,2320502,Original Exposure - by exposure class (SA_and_...,2,0,0,103,0,0,0,419.98,NaN,10,4,Credit Risk_IRB_a,Central governments or central banks,IRB,Total / No breakdown,00,No breakdown by status,No breakdown by Perf_status,DE,Germany,DekaBank Deutsche Girozentrale,Yes - IFRS,31/12
1,0W2PZJM8XOY22M4GG883,DE,202209,2320502,Original Exposure - by exposure class (SA_and_...,2,0,0,203,0,0,0,"16,941.37",NaN,11,4,Credit Risk_IRB_a,Institutions,IRB,Total / No breakdown,00,No breakdown by status,No breakdown by Perf_status,DE,Germany,DekaBank Deutsche Girozentrale,Yes - IFRS,31/12

In [4]:
# Check the number of observations per row
idx_1 = result['Label'] == 'Exposure value - by exposure class (SA_and_IRB)'
idx_2 = result['Period'] == 202306
idx_3 = result['Country'] == 0

# Sanity checking, only one row per groupby is expected
test = (result[idx_1 & idx_2 & idx_3]
        .groupby(['Desc_country', 'exposure_label', 'portfolio_label', 'Name'])
        .agg({'Amount': ['sum', 'count']}))
assert test[test.columns[-1]].max() == 1, 'Check your filtering criteria'

In [5]:
# Create base table
idx_1 = result['Label'] == 'Exposure value - by exposure class (SA_and_IRB)'
idx_2 = result['Period'] == 202306
# idx_3 = result['Desc_country'] == result['country_label']
idx_3 = result['Country'] == 0

pivot_df = pd.pivot_table(result[idx_1 & idx_2 & idx_3], 
                          values='Amount', 
                          index=['exposure_label', 'portfolio_label'], 
                          columns=['Name'], 
                          aggfunc="sum", 
                          margins=True,
                          fill_value=0).reset_index()

#### B. Calculate RWA and exposure values

In [6]:
# Calculate Exposure values
idx_1 = result['Country'] == 0
idx_2 = result['Label'].isin(['Exposure value - by exposure class (SA_and_IRB)', 
                              'Risk exposure amount - by exposure class (SA_and_IRB)', 
                              'Risk Exposure amount - of which_DEFAULTED  - by exposure class (IRB)'])
idx_3 = result['Period'] == 202306

pivot_df2 = pd.pivot_table(result[idx_1 & idx_2 & idx_3], 
                      values='Amount', 
                      index=['exposure_label', 'portfolio_label', 'Name', 'country_label'], 
                      columns=['Label'], 
                      aggfunc="sum", 
                      margins=False,
                      fill_value=0).reset_index()


# Create a rank based on the summed 'Exposure value', sorted by size
grouped = pivot_df2.groupby('exposure_label')['Exposure value - by exposure class (SA_and_IRB)'].sum()
rank = grouped.sort_values(ascending=False).rank(method='dense', ascending=False).astype(int)

# Map the ranks back to the original DataFrame
pivot_df2['exposure_type_size'] = pivot_df2['exposure_label'].map(rank)

pivot_df2 = pivot_df2.rename(columns={
    'Exposure value - by exposure class (SA_and_IRB)': 'exposure_value',
    'Risk exposure amount - by exposure class (SA_and_IRB)': 'risk_exposure',
    'Risk Exposure amount - of which_DEFAULTED  - by exposure class (IRB)': 'defaulted_risk_exposure',
})

pivot_df2['risk_weight'] = (pivot_df2['risk_exposure'] / pivot_df2['exposure_value']) * 100

final_df = pivot_df2.sort_values(by='exposure_type_size', ascending=True).reset_index()
final_df.to_excel('transprency_irb_v2.xlsx')

#### C. Summary table of IRB banks

In [7]:
# Show RWA for segments with at least 1bn EUR per bank / exposure
idx_1 = pivot_df2['exposure_label'].isin(['Retail', 'Corporates'])
idx_2 = pivot_df2['portfolio_label'] == 'IRB'
idx_3 = pivot_df2['exposure_value'] > 1_000

df3 = pivot_df2[idx_2 & idx_3]

final_results = (df3.pivot_table(index='Name', 
                                 columns='exposure_label', 
                                 values='exposure_value', 
                                 aggfunc='sum', 
                                 margins=True)
                 .fillna(0)
                 .sort_values(by='All', ascending=False))
final_results.reset_index()

exposure_label,Name,Central governments or central banks,Corporates,Equity exposures,Institutions,Retail,All
0,All,"2,316,632.92","6,080,935.41","120,810.89","1,158,990.10","6,261,643.39","15,939,012.71"
1,Groupe Crédit Agricole,"349,268.62","417,203.32","17,758.96","96,044.17","749,356.41","1,629,631.48"
2,BNP Paribas,"475,905.70","584,916.37","12,508.25","70,323.86","281,555.10","1,425,209.28"
3,Groupe BPCE,"212,171.94","195,947.82","11,204.37","31,098.51","508,786.84","959,209.47"
4,ING Groep N.V.,0.00,"490,841.62","3,666.68","68,345.53","352,992.36","915,846.18"
5,Société générale S.A.,"326,080.65","325,680.24","5,410.77","59,161.90","185,586.25","901,919.81"
6,DEUTSCHE BANK AKTIENGESELLSCHAFT,"148,053.59","359,595.08","4,465.65","32,934.44","228,016.22","773,064.98"
7,"Banco Santander, S.A.",0.00,"234,617.44","9,349.46","57,137.08","383,448.41","684,552.39"
8,Coöperatieve Rabobank U.A.,"135,460.38","245,845.04","3,761.93","9,100.78","245,149.87","639,318.00"
9,Confédération Nationale du Crédit Mutuel,0.00,"175,388.06","20,497.90","41,189.36","388,215.37","625,290.68"
10,"UNICREDIT, SOCIETA' PER AZIONI","40,953.99","259,053.74",0.00,"36,601.60","125,107.76","461,717.10"
11,"Banco Bilbao Vizcaya Argentaria, S.A.","17,544.48","164,267.98","5,842.98","167,505.15","98,803.49","453,964.08"
12,Nordea Bank Abp,0.00,"153,713.25",0.00,"29,953.69","186,042.96","369,709.91"
13,Intesa Sanpaolo S.p.A.,0.00,"168,485.63","8,990.11","28,791.91","161,845.93","368,113.57"
14,"CaixaBank, S.A.",0.00,"117,894.03","5,698.12",0.00,"192,066.34","315,658.49"
15,Skandinaviska Enskilda Banken - gruppen,"89,355.16","134,122.03",0.00,"26,805.82","63,159.81","313,442.82"
16,COMMERZBANK Aktiengesellschaft,"1,259.98","119,069.31",0.00,"39,188.97","152,145.64","311,663.90"
17,Landesbank Baden-Württemberg,"94,577.64","139,972.21","1,046.98","72,269.47",0.00,"307,866.31"
18,Danske Bank A/S,0.00,"157,648.16",0.00,"14,104.96","110,561.03","282,314.15"
19,KBC Groep,"76,360.07","82,637.48",0.00,"15,782.67","102,241.68","277,021.90"
20,ABN AMRO Bank N.V.,0.00,"102,079.26",0.00,"10,428.83","161,295.61","273,803.70"
21,Svenska Handelsbanken - gruppen,"65,489.62","93,285.22",0.00,"4,102.94","97,941.04","260,818.82"
22,Bayerische Landesbank,"101,306.09","107,553.00",0.00,"26,132.80","25,533.64","260,525.52"
23,DZ BANK AG Deutsche Zentral-Genossenschaftsban...,0.00,"104,308.17","8,254.19","37,542.52","94,094.73","244,199.61"
24,Erste Group Bank AG,"13,034.42","109,781.99","1,079.40","20,285.56","94,309.37","238,490.74"
25,Swedbank - Grupp,"55,154.39","53,575.66",0.00,"4,653.52","108,536.10","221,919.67"
26,Nykredit Realkredit A/S,0.00,"76,638.77",0.00,0.00,"113,291.14","189,929.91"
27,Landesbank Hessen-Thüringen Girozentrale,"67,836.26","83,818.65",0.00,"15,464.67","6,375.93","173,495.51"
28,DNB BANK ASA,0.00,"84,075.62",0.00,0.00,"85,538.99","169,614.61"
29,Belfius Bank,"17,249.41","45,890.36",0.00,"22,464.24","55,367.10","140,971.12"
30,"Banco de Sabadell, S.A.",0.00,"40,744.10",0.00,0.00,"91,604.85","132,348.95"
31,Raiffeisen Bank International AG,"6,071.94","52,313.46",0.00,"10,122.55","21,164.77","89,672.73"
32,BANCO BPM SOCIETA' PER AZIONI,0.00,"42,921.63",0.00,0.00,"43,883.74","86,805.37"
33,HSBC Continental Europe,"2,421.17","54,543.58",0.00,"5,237.78","22,938.39","85,140.93"
34,Norddeutsche Landesbank - Girozentrale -,"5,545.04","62,457.56",0.00,"5,669.45","2,881.52","76,553.57"
35,Bank of Ireland Group plc,0.00,"20,812.19",0.00,"5,655.36","43,922.95","70,390.49"
36,AIB Group plc,"7,638.24","15,841.53",0.00,"23,508.31","19,082.94","66,071.02"
37,Jyske Bank A/S,0.00,"36,116.61",0.00,0.00,"29,497.82","65,614.43"
38,BPER Banca S.p.A.,0.00,"24,646.79",0.00,0.00,"40,818.14","65,464.93"
39,Banca Monte dei Paschi di Siena S.p.A.,0.00,"22,592.48",0.00,0.00,"36,257.02","58,849.50"
40,de Volksbank N.V.,0.00,0.00,0.00,0.00,"50,296.76","50,296.76"
41,Investeringsmaatschappij Argenta,0.00,"4,926.40",0.00,"3,262.13","40,114.45","48,302.97"
42,Münchener Hypothekenbank eG,0.00,"13,379.52",0.00,0.00,"33,654.95","47,034.46"
43,Crelan,0.00,"1,660.75",0.00,0.00,"44,834.56","46,495.31"
44,DEUTSCHE APOTHEKER- UND ÄRZTEBANK EG,0.00,"5,634.34",0.00,0.00,"39,658.88","45,293.21"
45,"Banco Comercial Português, SA",0.00,"13,022.97",0.00,0.00,"32,183.09","45,206.06"
46,RCI Banque,0.00,"12,626.24",0.00,0.00,"32,253.06","44,879.30"
47,"Bankinter, S.A.",0.00,"15,965.30",0.00,0.00,"28,863.21","44,828.51"
48,SBAB Bank AB - Grupp,0.00,"9,109.22",0.00,0.00,"35,697.14","44,806.37"
49,Erwerbsgesellschaft der S-Finanzgruppe mbH & C...,0.00,"24,717.00",0.00,"4,199.67","15,742.68","44,659.35"
50,DekaBank Deutsche Girozentrale,0.00,"24,856.00",0.00,"14,533.16",0.00,"39,389.16"
51,SFIL S.A.,0.00,0.00,0.00,"36,737.63",0.00,"36,737.63"
52,Länsförsäkringar Bank AB - gruppen,0.00,"2,591.41",0.00,0.00,"30,502.66","33,094.07"
53,Atlantic Lux HoldCo S.à r.l.,0.00,"31,946.75",0.00,0.00,0.00,"31,946.75"
54,Mediobanca - Banca di Credito Finanziario S.p.A.,0.00,"18,423.98",0.00,0.00,"12,400.34","30,824.32"
55,Deutsche Pfandbriefbank AG,0.00,"30,657.98",0.00,0.00,0.00,"30,657.98"
56,LSF Nani Investments S.à r.l.,0.00,"12,873.01",0.00,"5,522.41","12,020.49","30,415.92"
57,CREDITO EMILIANO HOLDING SOCIETA' PER AZIONI,0.00,"15,509.42",0.00,0.00,"14,227.45","29,736.87"
58,"Banque et Caisse d´Epargne de l´Etat, Luxembourg",0.00,"6,470.71","1,275.15",0.00,"21,792.10","29,537.96"
59,Wüstenrot Bausparkasse Aktiengesellschaft,"1,819.44",0.00,0.00,"2,562.90","24,569.44","28,951.79"
60,SPAREBANK 1 SR-BANK ASA,0.00,"9,344.78",0.00,0.00,"16,490.10","25,834.88"
61,BANCA POPOLARE DI SONDRIO SOCIETA' PER AZIONI,0.00,"13,865.01",0.00,0.00,"10,025.00","23,890.01"
62,Hamburg Commercial Bank AG,"6,074.68","15,558.52",0.00,0.00,0.00,"21,633.20"
63,SpareBank 1 SMN,0.00,"6,170.69",0.00,0.00,"15,388.54","21,559.23"
64,Morgan Stanley Europe Holding SE,0.00,"15,669.14",0.00,"4,563.80",0.00,"20,232.93"
65,BAWAG Group AG,0.00,"9,448.61",0.00,0.00,"10,478.97","19,927.57"
66,"Unicaja Banco, S.A.",0.00,0.00,0.00,0.00,"19,251.77","19,251.77"
67,Banque Internationale à Luxembourg,0.00,"5,612.24",0.00,0.00,"11,780.52","17,392.76"